.gradle/*
build/*
/data/ingest/*
/.idea/*
/build/
/.gradle/
/.kotlin/
/api-gateway/build/
/api-gateway/build/*
/core-domain/build/
/ingestion-engine/build/
/bootstrap/build/
/rag-service/build/
*.iml
.gradle
.idea
.kotlin
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*.gpg
*yarn.lock